@import "tailwindcss";
@tailwind utilities;

:root {
  --black: #3B434E;
  --white: #FFFFFF;
  --bg-color: #F5F6F8;
}

body {
  color: var(--black);
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}
